body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}

ul li a {
  margin: 10px 20px 10px 0px;
  text-decoration: none;
}

#carrito {
  height: 60px;
  margin-left: 10px;
}

#root div div {
  text-align: center;
}

#pie-de-pagina {
  display:inline-block;
  position:fixed;
  top: 100px;
  margin-left: 1100px;
}
.card-img-top
{
  height:120px;
  width:120px;
  align-self: center;
}

#imagen-de-detalle {
  width:900px;
  height: auto;
}
.controls {
  display: flex;
}
.number.inline {
  display: inline;
  margin: 0 10px;
}
#precio {
  font-weight: bold;
  font-size: 20px;
}

#precio::after {
  content: '$';
}

#precio1::after {
  content:'$';
}

#precio2::after {
  content:'$';
}

#precio::after,
#precio::before {
  display: inline;
}

#agregar {
  margin:10px;
}

#homename {
  font-size: 120%;
  font-weight: bold;
}

.boton1 {
  border-radius: 5px;
  height: 40px;
  line-height: 16px;
  background-color: orangered;
  font-weight: bold;
  color:yellow !important;
}

.botonconfirma {
  border-radius: 5px;
  height: 40px;
  line-height: 16px;
  background-color: greenyellow;
  font-weight: bold;
  color:black;
  justify-self: center;
}

#formulario {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  margin: 10px;
}

.margen {
  margin-top: 10px;
}